body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

h1 {
  color: red;
}


.button {
  color: red;
  background-color: black;
  display: inline-block;
  padding: 15% 15% 15% 15%;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 36px;
  width: 110%;
  height: 100%;
}
.button:focus {
  outline:0;
}
